body {
    padding: 0px;
    margin: 0px;
    background-color: #202124;
}

/* id:"lupa" cuando seapara un solo elemento */
#lupa {
    color: gray;
}

/* class:"icono" cuando sea para uno o mas elementos */
.icono {
    width: 30px;
    height: 30px;

}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;

}

header ul li{
    margin: 10px;

}




main {
    display: flex;
    justify-content: center;
    height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



footer ul {
    list-style: none;
    display: flex;
    align-items: center;
}

footer ul li {
    margin: 10px;
    display: inline-block;
}

#opciones {
    display: flex;
}

#caja-buscador {
    display: flex;
    border: 1px solid gray;
    min-height: 1px;
    max-width: 584px;
    width: 538px;
    border-color: (rgb(118, 118, 118), rgb(133, 133, 133));
    border-radius: 24px;
}

#caja-buscador input {
    width: 400px;
    outline: none;
    border: none;
    color: #202124;
}

#caja-buscador .icono {
    margin: 5px;
}

button {

    border: none;
    background-color: #303134;
    border: 1px solid #303134;
    margin: 11px 4px;
    padding: 0 16px;
    border-radius: 4px;
}

center {
    text-align: -webkit-center;
}